<!-- about page-->
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card m-0">
        <div class="card-header">
          <h5 class="card-title">Developers</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Nkenge Crowe</li>
            <li class="list-group-item">Cherry Lam</li>
            <li class="list-group-item">Nahid M</li>
            <li class="list-group-item">Irina Pyak</li>
            <li class="list-group-item">Manzur Shaheed</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


{{> email-feedback}}