<!-- about page-->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card m-0">
        <div class="card-header">
          <h5 class="card-title fw-bold">Developers</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="fw-bold">Nkenge Crowe</span><br>
              <small class="text-muted"><a href="https://github.com/BluNite" target=_blank>Github</a></small>
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Cherry Lam</span><br>
              <small class="text-muted"><a href="https://github.com/c1am" target=_blank>Github</a></small>
            </li> 
            <li class="list-group-item">
              <span class="fw-bold">Nahid M</span><br>
              <small class="text-muted"><a href="https://github.com/Nahid1010" target=_blank>Github</a></small> </li>
            <li class="list-group-item">
              <span class="fw-bold">Irina Pyak</span><br>
              <small class="text-muted"><a href="https://github.com/Ir-p" target=_blank>Github</a></small> 
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Manzur Shaheed</span><br>
              <small class="text-muted"><a href="https://github.com/manzur-shaheed" target=_blank>Github</a></small>              
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>