<!-- buy/sell page-->
<div class="container-fluid">
  <div class="row h1">Cryptocurrency Buy/Sell Exchanges</div>
  <div class="row"></div>
    <div class="col">
      {{!-- coinbase --}}
      <div class="card m-0">
        <div class="card-header">
          <h5 class="card-title">coinbase</h5>
        </div>
        <div class="card-body">
          <div class="fw-bold">Description: </div><div>Coinbase is the easiest place to buy and sell cryptocurrency. Sign up and get started today.</div>
          <div class="fw-bold">Fees: </div><div>0.50% spread for buy/sell transactions; transaction fee from $0.99 to $2.99; up to 0.50% for Coinbase Pro.</div> 
          <div class="fw-bold">Best for:</div><div>Bitcoin-focused individuals and institutions.</div>
          <a href="https://www.coinbase.com/" class="href" target="_blank">Goto Website</a><p>
          <a href="https://youtu.be/ZMg4vSkNjw4" class="href" target="_blank">Watch A Video</a><p>
          <a href="https://youtu.be/ZMg4vSkNjw4" class="href" target="_blank"><img src="/images/coinbase.png" alt="coinbase" width="50%" height="50%"></a> 
        </div>
      </div><p>
      {{!-- binance --}}
      <div class="card m-0">
        <div class="card-header">
          <h5 class="card-title">BINANCE</h5>
        </div>
        <div class="card-body">
          <div class="fw-bold">Description: </div><div>Buy & sell Crypto in minutes. Join the world's largest crypto exchange.</div>
          <div class="fw-bold">Fees: </div><div>0.1% spot trading fee; 0.5% instant buy/sell fee (4.5% fee for deposits with US debit card)</div> 
          <div class="fw-bold">Best for:</div><div>Low fees.</div>
          <a href="https://www.binance.com/en" class="href" target="_blank">Goto Website</a><p>
          <a href="https://youtu.be/s9ZaHpEFmlM" class="href" target="_blank">Watch A Video</a><p> 
          <a href="https://youtu.be/s9ZaHpEFmlM" class="href" target="_blank"><img src="/images/binance.png" alt="binance" width="50%" height="50%"></a>
        </div>
      </div><p>
      {{!-- kraken --}}
      <div class="card m-0">
        <div class="card-header">
          <h5 class="card-title">kraken</h5>
        </div>
        <div class="card-body">
          <div class="fw-bold">Description: </div><div>Kraken is a crypto exchange for everyone.</div>
          <div class="fw-bold">Fees: </div><div>0% - 0.26%</div> 
          <div class="fw-bold">Best for:</div><div>Futures and margin traders.</div>
          <a href="https://www.kraken.com/" class="href" target="_blank">Goto Website</a><p>
          <a href="https://youtu.be/LegEtRLX8DE" class="href" target="_blank">Watch A Video</a><p> 
          <a href="https://youtu.be/LegEtRLX8DE" class="href" target="_blank"><img src="/images/kraken.png" alt="kraken" width="50%" height="50%"></a> 
        </div>
      </div><p>
      {{!-- cex.io --}}
      <div class="card m-0">
        <div class="card-header">
          <h5 class="card-title">CEX.IO</h5>
        </div>
        <div class="card-body">
          <div class="fw-bold">Description: </div><div>A trusted and secure bitcoin exchange. Your guide to the world of an open financial system. Get started with the easiest and most secure platform to buy and trade cryptocurrency.</div>
          <div class="fw-bold">Fees: </div><div>0.16% - 0.25% maker/taker transaction fees (2.99% deposit)</div> 
          <div class="fw-bold">Best for:</div><div>Large cryptocurrency selection.</div>
          <a href="https://cex.io/" class="href" target="_blank">Goto Website</a><p>
          <a href="https://youtu.be/crDjwbk7o4I" class="href" target="_blank">Watch A Video</a><p> 
          <a href="https://youtu.be/crDjwbk7o4I" class="href" target="_blank"><img src="/images/cexio.png" alt="cex.io" width="50%" height="50%"></a>
        </div>
      </div><p>
      {{!-- gemini --}}
      <div class="card m-0">
        <div class="card-header">
          <h5 class="card-title">GEMINI</h5>
        </div>
        <div class="card-body">
          <div class="fw-bold">Description: </div><div>Gemini is a simple, elegant, and secure platform to build your crypto portfolio.</div>
          <div class="fw-bold">Fees: </div><div>$0.99-$2.99% fee for web and mobile transactions between $10 and $200 (1.49% fee for transactions over $200); 0.50% convenience fee; 3.49% debit card transfers</div> 
          <div class="fw-bold">Best for:</div><div>Bitcoin and Ethereum traders.</div>
          <a href="https://www.gemini.com/" class="href" target="_blank">Goto Website</a><p>
          <a href="https://youtu.be/3z03OM0Q3z8" class="href" target="_blank">Watch A Video</a><p> 
          <a href="https://youtu.be/3z03OM0Q3z8" class="href" target="_blank"><img src="/images/gemini.png" alt="GEMINI" width="50%" height="50%"></a> 
        </div>
      </div><p>
      {{!-- bittrex --}}
      <div class="card m-0">
        <div class="card-header">
          <h5 class="card-title">BITTREX</h5>
        </div>
        <div class="card-body">
          <div class="fw-bold">Description: </div><div>The building blocks of tomorrow. Support blockchain technology while trading on Bittrex, the most reliable crypto platform.</div>
          <div class="fw-bold">Fees: </div><div>0-0.35% maker/taker fees</div> 
          <div class="fw-bold">Best for:</div><div>Account security.</div>
          <a href="https://bittrex.com/" class="href" target="_blank">Goto Website</a><p>
          <a href="https://youtu.be/_wnNOWcMYEs" class="href" target="_blank">Watch A Video</a><p> 
          <a href="https://youtu.be/_wnNOWcMYEs" class="href" target="_blank"><img src="/images/bittrex.png" alt="BITTREX" width="50%" height="50%"></a> 
        </div>
      </div>
    </div>
  </div>
</div>