<!-- homepage-cards the landing page-->
<div class="container-fluid">
  <div class="row">
    <span align="center"><span class="fst-italic fw-bold">ABC Crypto</span> is a free app which guides its users to well-known, established resources on cryptocurrencies. The users can learn anything from what cryptocurrencies are, how to buy and sell cryptocurrencies, the latest news on cryptocurrencies, what most popular cryptocurrencies are and its market prices. <span class="fst-italic fw-bold">ABC Crypto</span> allows its users to share their own knowledge and resources about cryptocurrencies, vote and comment on the other users’ resources.</span><p>
    <hr>
    {{#each cards}}
    <div class="col">
      <div class="card m-0">
        <div class="card-header">
          <h5 class="card-title">{{name}}</h5>
        </div>
        <div class="card-body">
          <h6 class="card-body">{{> content}}</h6>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>