<!-- about page-->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card m-0">
        <div class="card-header">
          <h5 class="card-title fw-bold">Information about Cryptocurrency</h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="fw-bold">What Is Cryptocurrency?</span><br>
                A cryptocurrency is a digital or virtual currency that is secured by cryptography, which makes it nearly impossible to counterfeit or double-spend. Cryptocurrency does not exist in physical form (like paper money) and is typically not issued by a central authority. Cryptocurrencies typically use decentralized control as opposed to a central bank digital currency. When implemented with decentralized control, each cryptocurrency works through distributed ledger technology, typically a <span class="fst-italic">blockchain</span>, that serves as a public financial transaction database.
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Why Is It Called <span class="fst-italic">Cryptocurrency?</span></span><br>
              The word <span class="fst-italic">Cryptocurrency?</span> is derived from the encryption techniques which are used to secure the network.
            </li>
            <li class="list-group-item">
              <span class="fw-bold">What Is Blockchains?</span><br>
              Blockchains, which are organizational methods for ensuring the integrity of transactional data, are an essential component of many cryptocurrencies.
            </li>
            <li class="list-group-item">
              <span class="fw-bold">What Are The Cryptocurrencies Avaialble?</span><br>
              Bitcoin, first released as open-source software in 2009, is the first decentralized cryptocurrency. Since the release of bitcoin, many other cryptocurrencies have been created. For example, Etherium, Tether, Binance Coin to name a few.
            </li>
            <li class="list-group-item">
              <span class="fw-bold">How Do You Buy/Sell Cryptocurrencies?</span><br>
              There are Cryptocurrency exchanges which allow customers to trade cryptocurrencies for other assets, such as conventional fiat money, or to trade between different digital currencies. Click <a href="/cards/3">here</a> to see few cryptocurrency exchanges and relevant video clips.
            </li>
            <li class="list-group-item">
              <span class="fw-bold">Watch A Video</span><br>
              <h6 class="fst-italic">Courtesy: Mike Winnet.</h6>
              <a href="https://www.youtube.com/watch?v=gxgrg0L7Ico" target=_blank><img src="/images/cryptocurrency.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>