<!-- link page-->
<div class="card">
        <div class="card-header">
          Resource
        </div>
        <div class="card-body">
          <form role="form">
            <div class="form-group">
              <label for="username-name">Username</label>
              <input type="text" class="form-control" id="username" />
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" />
            </div>
            <div class="form-group">
              <label for="text">Text</label>
              <input type="text" class="form-control" id="text" />
            </div>
            <div class="form-group">
              <label for="keyword">Keyword</label>
              <input
                type="text"
                class="form-control"
                id="keyword"
              />
            </div>
            <div class="form-group">
              <label for="link">Link</label>
              <input
                type="text"
                class="form-control"
                id="link"
              />
            </div>
            <button type="submit" class="btn btn-primary submit">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>