<div>
    <header>
        <h1>Current Cryptocurrency News</h1>
    </header>

    <main>
        <div class="newsDisplay">
            {{!-- <h3 class="newsHeading">Current Crypto News</h3> --}}
        </div>
    </main>
</div>

<script src="/js/newsapi.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>