<section class="topListContainer">
    <h3 class="topListHeading">Top 10 Cryptocurrencies</h3>
    <table class="table" id="crypto">
        <tr class="tableHeading">
            <th>Cryptocurrency</th>
            <th>Price (USD)</th>
            <th>Change % (24h)</th>
            {{!-- <th>Graph</th> --}}
        </tr>
    </table>
</section>

<script src="/js/cryptoapi.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>